<h2>Login</h2>
<br><br>
<div class="alert alert-danger" *ngIf="errorMsg">
    <p>{{ errorMsg }}</p>
</div>
<div *ngIf="isLoading" style="text-align: center; margin-top: 30px;">
    <app-loading-spinner></app-loading-spinner>
</div>
<form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" *ngIf="!isLoading">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" 
            ngModel name="email" required email>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" 
            ngModel name="password" required minlength="6">
    </div>
    <div>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
            Login
        </button> | 
        <button type="button" class="btn btn-primary" routerLink="../register">
            Switch to Register
        </button>
    </div>
</form>